%theme-app {

  --bColor: '';
  --fColor: '';
  --iconColor: '';

  ion-content {
    --background: var(--bColor);
  }

  ion-list {
    background: var(--bColor);
  }

  ion-toolbar {
    --background: var(--bColor);
    --color: var(--fColor);
  }

  ion-item {
    --background: var(--bColor);
    --color: var(--fColor);
  }

  ion-icon {
    color: var(--iconColor);
  }

}

.theme-dark {

  --bColor: var(--ion-color-dark);
  --fColor: var(--ion-color-light);
  --iconColor: var(--ion-color-primary);

  @extend %theme-app;

}

.theme-light {

  --bColor: var(--ion-color-light);
  --fColor: var(--ion-color-dark);
  --iconColor: var(--ion-color-dark);

  @extend %theme-app;

}
