.theme-dark {

  --bColor: var(--ion-color-dark);
  --fColor: var(--ion-color-light);

  ion-toolbar {
    --background: var(--bColor);
    --color: var(--fColor);
  }

  ion-content {
    --background: var(--bColor);
  }

  ion-item {
    --background: var(--bColor);
    --color: var(--fColor);
  }
  
}
